@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Contaniner */
.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: url(./bg.svg) no-repeat;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    /* border: 2px solid green; */
}

/* App */
.App {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    padding: 30px 0;
}

/* top  */
.top {
    width: 50vw;
    height: 20vh;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.top h1 {
    font-size: 2rem;
}

/* mid */
.mid {
    width: 70vw;
    height: 20vh;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* mid__card__design for coin */
.coin-container {
    width: 260px;
    height: 115px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
}

.coin_icon {
    width: 40%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin_icon img {
    width: 80%;
    height: 80%;
}

.coin_status {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    /* border: 2px solid green; */
}

.coin_status h1 {
    font-size: 25px;
    color: rgba(0, 105, 123, 0.575);
}

/* bottom */

.bottom {
    margin-top: 20px;
    width: 75%;
    flex: 1;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

/* transaction container and holding card*/
.transactions-cont,
.holdings-cont {
    width: 40%;
    flex: 1;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    /* overflow-y: scroll; */
}

/*  holdings card */
.holidings_card {
    width: 100%;
    height: 120px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 20px;
    background-color: white;
}

/* trasaction description */
.transaction_card {
    width: 100%;
    height: 120px;
    border: 2px solid black;
    border-radius: 8px;
    gap: 1em;
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

.left_bar {
    width: 10px;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.transaction_card .green {
    background-color: green;
}

.transaction_card .red {
    background-color: red;
}

.transaction_description {
    width: 90%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* buy-box */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.popup .overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.559);
}

.buy_box {
    width: 300px;
    min-height: 270px;
    position: absolute;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 10px;
    top: calc(50vh - 135px);
    left: calc(50vw - 150px);
    outline: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px 13px 4px rgba(0, 0, 0, 0.678);
    padding-bottom: 10px;
}

.popup .buy_box {
    display: flex;
}

.buy_box_header {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(23, 23, 26);
    color: white;
}

button {
    cursor: pointer;
}

.close {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: white;
    font-weight: bolder;
}

.buy_box_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 15px;
}

.buy_box_body input {
    padding: 5px 0;
    padding-left: 15px;
}

.buy_button {
    padding: 5px 35px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bolder;
}